.stackContainer {
  @apply overflow-hidden;

  .sliderContainer {
    @apply flex flex-row mt-16 mb-16;
    width: 200vw;

    .sliderItem {
      @apply flex justify-center;
      width: 100vw;

      .card {
        @apply flex flex-wrap relative border-2 border-darkGray border-radius;

        &:not(:nth-of-type(1)) {
          @apply ml-12;
        }

        h3 {
          @apply text-lightGray absolute -top-3 left-2 pl-2 pr-2;
          background-color: #000000;
        }

        .cardItem {
          @apply flex flex-col p-8 items-center;

          h5 {
            @apply text-lightGray mt-5;
          }
        }
      }
    }
  }
}
