.menu {
  @apply bg-opacity-0;
  position: fixed;
  z-index: 20;
  left: -100%;
  width: 100vw;
  height: 100vh;
  transition: left 0.5s ease-in-out;

  ul {
    @apply border-r-2 border-r-primary;
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;

    li {
      @apply mt-8 ml-8 p-5;
      width: 90%;

      a {
        @apply text-2xl font-light;
        color: #bdbdbd;
      }
    }
  }
}

.menuActive {
  position: absolute;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.menuButton {
  @apply mr-12 absolute right-4 z-20;
  animation: onClick 1s ease-in-out forwards;

  @media (max-width: 360px) {
    @apply mr-2;
  }

  height: 24px;
  img {
    filter: invert(100);
  }
}

.active {
  animation: onClick 1s ease-in-out forwards;
}

@keyframes onClick {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
