.mockup {
  @apply flex relative flex-col justify-around items-center w-1/2 overflow-hidden;

  @media (max-width: 900px) {
    @apply w-full;
  }

  .sliderWrapper {
    width: 100vw;

    .sliderContainer {
      @apply flex flex-row;
      width: 300vw;

      .imgContainer {
        @apply flex justify-center;
        width: 100vw;

        .vertical {
          height: 383px;
        }

        .horizontal {
          height: 210px;

          @media (max-width: 529px) {
            height: auto;
          }
        }
      }
    }
  }

  .fadein {
    animation: fadein 0.5s ease-in forwards;
  }

  .navigationContainer {
    @apply w-full flex items-center flex-col relative mt-6;

    .arrowContainer {
      @apply absolute w-full;
      .arrowLeft {
        @apply absolute left-48;

        @media (max-width: 1279px) {
          @apply left-32;
        }

        @media (max-width: 1019px) {
          @apply left-5;
        }
        svg g path {
          @apply fill-primary;
        }

        &:hover,
        &:active {
          svg {
            g path {
              @apply fill-accent;
            }
          }
        }
      }

      .arrowRight {
        @apply absolute right-48;
        @media (max-width: 1279px) {
          @apply right-32;
        }
        @media (max-width: 1019px) {
          @apply right-5;
        }
        svg g path {
          @apply fill-primary;
        }

        &:hover,
        &:active {
          svg {
            g path {
              @apply fill-accent;
            }
          }
        }
      }
    }

    .radioContainer {
      @apply flex flex-row mt-3 mb-3;

      .radio {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        @apply bg-darkGray;

        &:not(:first-of-type) {
          @apply ml-4;
        }
      }

      .radioWhite {
        @apply bg-white transition-colors;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
