.mockup {
  @apply flex relative flex-col justify-around items-center w-1/2;

  height: 550px;

  @media (max-width: 900px) {
    @apply w-full;
    height: 400px;
  }

  @media (max-width: 419) {
    @apply w-full;
    height: 200px;
  }

  .imgContainer {
    img .vertical {
      width: 173px;
      height: 383px;
    }

    img .horizontal {
      width: 432px;
      height: 259px;
    }
  }

  .fadein {
    animation: fadein 0.5s ease-in forwards;
  }

  .navigationContainer {
    @apply w-full flex items-center flex-col relative mt-6;

    .arrowContainer {
      @apply absolute w-full;
      .arrowLeft {
        @apply absolute left-16;

        @media (max-width: 1019px) {
          @apply left-5;
        }
        svg g path {
          @apply fill-primary;
        }

        &:hover,
        &:active {
          svg {
            g path {
              @apply fill-accent;
            }
          }
        }
      }

      .arrowRight {
        @apply absolute right-16;
        @media (max-width: 1019px) {
          @apply right-5;
        }
        svg g path {
          @apply fill-primary;
        }

        &:hover,
        &:active {
          svg {
            g path {
              @apply fill-accent;
            }
          }
        }
      }
    }

    .radioContainer {
      @apply flex flex-row mt-3;

      .radio {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        @apply bg-darkGray;

        &:not(:first-of-type) {
          @apply ml-4;
        }
      }

      .radioWhite {
        @apply bg-white transition-colors;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
