.aboutContainer {
  @apply relative mt-64 mb-28 overflow-hidden;
}

.titleContainer {
  @apply mt-12 h-28;
  h1 {
    @apply text-8xl font-bold fill-none absolute right-10;
    cursor: pointer;

    -webkit-text-stroke: 1px #cdcdcd;

    @media (max-width: 479px) {
      @apply text-6xl ml-8;
    }
  }
}
.navigationContainer {
  @apply w-full h-9 absolute bottom-8 z-10;

  .arrowLeft {
    @apply absolute left-4 p-4;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      45deg,
      rgb(66, 66, 66) 0%,
      rgb(170, 170, 170) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border-radius: 50%;

    svg g path {
      @apply fill-bg;
    }

    &:hover,
    &:active {
      svg {
        g path {
          @apply fill-white;
        }
      }
    }
  }

  .arrowRight {
    @apply absolute right-12 p-4;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      135deg,
      rgb(66, 66, 66) 0%,
      rgb(170, 170, 170) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    border-radius: 50%;

    svg g path {
      @apply fill-bg;
    }

    &:hover,
    &:active {
      svg {
        g path {
          @apply fill-white;
        }
      }
    }
  }
}

.cardsContainer {
  @apply flex flex-row justify-center;
  width: 300vw;
}

@keyframes opacityKeyframes {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.active0 {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.active1 {
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out;
}

.active2 {
  transform: translateX(-200vw);
  transition: transform 0.5s ease-in-out;
}

.animation {
  animation: opacityKeyframes 1s ease-in-out;
}

.card {
  @apply flex flex-col items-center;
  width: 100vw;

  h3 {
    @apply text-3xl;

    background: -webkit-linear-gradient(#cdcdcd, #868686);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1000px) {
      @apply text-2xl;
    }
  }

  .iconsContainer {
    @apply flex flex-row justify-center mt-12;

    @media (max-width: 1000px) {
      @apply flex-col items-center justify-start mt-12;
    }
  }

  .iconContainer {
    @apply flex flex-col items-center;
    max-width: 25%;

    &:not(:nth-of-type(1)) {
      @apply ml-20;

      @media (max-width: 1000px) {
        @apply ml-0 mt-8;
      }
    }

    img {
      @media (max-width: 519px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  h5 {
    @apply text-white text-sm font-light mt-8 text-center;
    @media (max-width: 479px) {
      @apply text-sm mt-2;
    }
  }
}
