.button {
  @apply mt-12 text-white  border border-accent pl-8 pr-8 pt-2 pb-2;
  border-radius: 17px;
  background: linear-gradient(
    90deg,
    rgba(208, 56, 211, 1) 0%,
    rgba(122, 36, 124, 1) 25%,
    rgba(45, 14, 46, 1) 50%,
    rgba(122, 36, 124, 1) 75%,
    rgba(208, 56, 211, 1) 100%
  );

  animation: shadow 5s ease-in-out infinite;
  transition: 0.3s ease-in-out;
  will-change: box-shadow;

  &:hover {
    @apply pl-12 pr-12;
    border-radius: 12px;
  }
}

@keyframes shadow {
  0% {
    box-shadow: 10px 10px 100px #d038d3;
  }

  25% {
    box-shadow: 10px -10px 180px #d038d3;
  }

  50% {
    box-shadow: 10px 30px 150px #d038d3;
  }

  75% {
    box-shadow: 10px -40px 200px #d038d3;
  }

  100% {
    box-shadow: 10px 10px 100px #d038d3;
  }
}
