.wrapper {
  @apply h-24 w-full flex justify-center sticky z-50;
  top: 3rem;
}

.header {
  @apply relative product-card border border-primary border-radius w-11/12 h-full flex items-center justify-between;
  will-change: height, opacity;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.shown {
  @apply h-24 opacity-100 transition-all duration-500;
}

.hidden {
  @apply h-0 opacity-0 transition-all duration-500;
}
