@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ResistMono";
  src: url("/font/ResistMono-Rg.otf");
  src: url("/font/ResistMono-Bg.otf");
  src: url("/font/ResistMono-Lt.otf");
  font-style: normal;
  font-weight: 400;
}

body {
  @apply body;
  filter: contrast(0.8);
  width: 100vw;
  height: 100vh;
  animation-duration: 1.3s;
  animation-name: fadein;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
