.appContainer {
  animation: fadein 1s ease-in;
  position: relative;
  z-index: 30;
}

.canvas {
  touch-action: auto;
}

@keyframes fadein {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}
