.body {
  margin: 7rem 4.5rem;
  padding: 5rem 2.5rem;

  @apply flex flex-row flex-wrap product-card border-radius;
  @media (max-width: 861px) {
    @apply flex-col;
    margin: 4.5rem 2rem;
    padding: 2.5rem 1rem;
    // min-height: 1100px;
  }

  @media (max-width: 419px) {
    @apply flex-col;

    // min-height: 1300px;;
  }
}
