.mobileHeader {
  @apply relative product-card border border-primary border-radius w-11/12 h-24;
  overflow: hidden;
  transition: height 0.5s ease-in-out;

  .container {
    @apply flex items-center h-24;
  }

  ul {
    @apply text-lightGray w-full flex flex-col items-center;
    transition: opacity 1s ease-in;
    opacity: 0;

    li {
      @apply h-16 flex items-center;

      &:active {
        @apply text-white;
      }
    }
  }
}

.mobileHeaderActive {
  transition: height 0.5s ease-in-out;
  height: 400px;
  background-color: black;
}

.ulActive {
  opacity: 1 !important;
  transition: opacity 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.shown {
  @apply h-24 opacity-100 transition-all duration-500;
}

.hidden {
  @apply h-0 opacity-0 transition-all duration-500;
}
